@{
    ViewData["Title"] = "Error - Astley Gilbert WordPress";
}
<main class="main">
    <section class="body">
        <div class="container ">
            <div class="u-align-center">
                <h2>Error!</h2>
                <p class="">
                   Hmmm...it seems something didnt go quite as expected.  Please re-submit or give us a call for assistance 416.288.8666
                </p>
                <br>
                <p>
                    <a href="http://www.astleygilbert.com" class="button">Return to AstleyGilbert.com</a>
                </p>
            </div>
        </div>
    </section>
</main>
