@{
    ViewData["Title"] = "Files Submitted - Astley Gilbert WordPress";
}
<main class="main">
    <section class="submitbody">
        <div class="container ">
            <div class="u-align-center">
                <img src="~/images/icon-checkmark.png" alt="Check Mark" class="checkimage">
                <h2>Files Submitted!</h2>
                <p class="">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. In et pharetra augue. Fusce sit amet nulla lectus. In hac habitasse platea dictumst. Curabitur molestie magna eget congue venenatis. Sed volutpat turpis vel purus .
                </p>
                <br>
                <p>
                    <a href="http://www.astleygilbert.com" class="button">Return to AstleyGilbert.com</a>
                </p>
            </div>
        </div>
    </section>
</main>