@{
    //ViewData["Title"] = "Home Page";
}
@model AGUploadForm.Models.FormViewModels.FormViewModel

<!-- jQquery File Upload Plugin and Gallery styles -->
<link href="~/Backload/Client/blueimp/bundles/css/jquery.fileupload.bundle.min.css" rel="stylesheet" />
<link href="~/Backload/Client/blueimp/gallery/css/blueimp-gallery.min.css" rel="stylesheet" />

<!-- The main application styles -->
<link href="~/Content/demo.styles.css" rel="stylesheet" />

<script type="text/javascript">
    var updateAGField = function (agFieldId, value, disabled, visible) {
        var field = '*[data-ag-field="' + agFieldId + '"';
        $(field).val(value);
        $(field).prop('disabled', disabled);
        if (!visible) $(field).parents(".form-group").hide(); else $(field).parents(".form-group").show();

        //Need to trigger the change for the select boxes to work (changing to implement server side using tag helpers).
        //$(field).trigger('change');
    }
</script>

<script id="template-upload" type="text/x-tmpl">
    {% for (var i=0, file; file=o.files[i]; i++) { %}
    <tr class="template-upload fade">
        <td>
            <span class="preview"></span>
        </td>
        <td>
            <p class="name">{%=file.name%}</p>
            <strong class="error text-danger"></strong>
        </td>
        <td>
            <p class="size">Processing...</p>
            <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0"><div class="progress-bar progress-bar-success" style="width:0%;"></div></div>
        </td>
        <td>
    {% if (!i && !o.options.autoUpload) { %}
            <button class="btn btn-primary start" disabled>
                <i class="glyphicon glyphicon-upload"></i>
                <span>Start</span>
            </button>
            {% } %}
            {% if (!i) { %}
            <button class="btn btn-warning cancel">
                <i class="glyphicon glyphicon-ban-circle"></i>
                <span>Cancel</span>
            </button>
            {% } %}
        </td>
    </tr>
            {% } %}
</script>

<!-- The template to display files available for download -->
<script id="template-download" type="text/x-tmpl">
    {% for (var i=0, file; file=o.files[i]; i++) { %}
    <tr class="template-download fade">
        <td>
            <span class="preview">
                {% if (file.thumbnailUrl) { %}
                <a href="{%=file.url%}" title="{%=file.extra.originalName%}" download="{%=file.name%}" data-gallery><img src="{%=file.thumbnailUrl%}"></a>
                {% } %}
            </span>
        </td>
        <td>
            <p class="name">
                {% if (file.url) { %}
                <a href="{%=file.url%}" title="{%=file.extra.originalName%}" download="{%=file.name%}" {%=file.thumbnailUrl?'data-gallery':''%}>{%=file.extra.originalName%}</a>
                {% } else if (file.extra) { %}
                <span>{%=file.extra.originalName%}</span>
                {% } else { %}
                <span>{%=file.name%}</span>
                {% } %}
            </p>
            {% if (file.error) { %}
            <div><span class="label label-danger">Error</span> {%=file.error%}</div>
            {% } %}
        </td>
        <td>
            <span class="size">{%=o.formatFileSize(file.size)%}</span>
        </td>
        <td>
            {% if (file.deleteUrl) { %}
            <button class="btn btn-danger delete" data-type="{%=file.deleteType%}" data-url="{%=file.deleteUrl%}" {% if (file.deletewithcredentials) { %} data-xhr-fields='{"withCredentials":true}' {% } %}>
                <i class="glyphicon glyphicon-trash"></i>
                <span>Delete</span>
            </button>
            <input type="checkbox" name="delete" value="1" class="toggle invisible" checked="checked">
            {% } else { %}
            <button class="btn btn-warning cancel">
                <i class="glyphicon glyphicon-ban-circle"></i>
                <span>Cancel</span>
            </button>
            {% } %}
        </td>
    </tr>
    {% } %}
</script>

<form asp-controller="Home" id="SubmitForm" method="post">
    <div class="form-horizontal">
        <input type="hidden" asp-for="ObjectContextId" />
        <div class="form-group">
            <div class="col-md-3 text-right">
                <label asp-for="SelectedOfficeName"></label>
            </div>
            <div class="col-md-3">
                <select asp-for="SelectedOfficeName" asp-items="Model.OfficeSelectList" class="form-control">
                </select>
            </div>
            <div class="col-md-3">
                <span asp-validation-for="SelectedOfficeName" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-3 text-right">
                <label asp-for="SelectedDepartmentName"></label>
            </div>
            <div class="col-md-3">
                <select asp-for="SelectedDepartmentName" asp-items="Model.DepartmentSelectList" class="form-control">
                </select>
            </div>
            <div class="col-md-3">
                <span asp-validation-for="SelectedDepartmentName" class="text-danger"></span>
            </div>
        </div>

        <!-- Job Information -->
        <div class="row">
            <div class="col-md-3 text-right">
                <h3>
                    Job Information
                </h3>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-3 text-right">
                <label asp-for="JobInformation.DueDateTime"></label>
            </div>
            <div class="col-md-3">
                <input type="text" asp-for="JobInformation.DueDateTime" class="form-control" />
            </div>
            <div class="col-md-3">
                <span asp-validation-for="JobInformation.DueDateTime" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-3 text-right">
                <label asp-for="JobInformation.AccountNumber"></label>
            </div>
            <div class="col-md-3">
                <input type="text" asp-for="JobInformation.AccountNumber" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-3 text-right">
                <label asp-for="JobInformation.ProjectNumber"></label>
            </div>
            <div class="col-md-3">
                <input type="text" asp-for="JobInformation.ProjectNumber" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-3 text-right">
                <label asp-for="JobInformation.Instructions"></label>
            </div>
            <div class="col-md-3">
                <textarea asp-for="JobInformation.Instructions" class="form-control"></textarea>
            </div>
            <div class="col-md-3">
                <span asp-validation-for="JobInformation.Instructions" class="text-danger"></span>
            </div>
        </div>

        <!-- Contact Information -->
        <div class="row">
            <div class="col-md-3 text-right">
                <h3>
                    Contact Infromation
                </h3>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-3 text-right">
                <label asp-for="ContactInformation.Name"></label>
            </div>
            <div class="col-md-3">
                <input type="text" asp-for="ContactInformation.Name" class="form-control" />
            </div>
            <div class="col-md-3">
                <span asp-validation-for="ContactInformation.Name" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-3 text-right">
                <label asp-for="ContactInformation.Company"></label>
            </div>
            <div class="col-md-3">
                <input type="text" asp-for="ContactInformation.Company" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-3 text-right">
                <label asp-for="ContactInformation.Address"></label>
            </div>
            <div class="col-md-3">
                <input type="text" asp-for="ContactInformation.Address" class="form-control" />
            </div>
            <div class="col-md-3">
                <span asp-validation-for="ContactInformation.Address" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-3 text-right">
                <label asp-for="ContactInformation.Email"></label>
            </div>
            <div class="col-md-3">
                <input type="text" asp-for="ContactInformation.Email" class="form-control" />
            </div>
            <div class="col-md-3">
                <span asp-validation-for="ContactInformation.Email" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-3 text-right">
                <label asp-for="ContactInformation.PhoneNumber"></label>
            </div>
            <div class="col-md-3">
                <input type="text" asp-for="ContactInformation.PhoneNumber" class="form-control" />
            </div>
            <div class="col-md-3">
                <span asp-validation-for="ContactInformation.PhoneNumber" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10 text-right">
                <input type="reset" class="btn btn-warning" value="Clear All Fields" />
            </div>
        </div>
    </div>
</form>

<!-- File Upload -->
<form id="fileupload" action="/Backload/FileHandler" method="POST" enctype="multipart/form-data">
    <!-- The fileupload-buttonbar contains buttons to add/delete files and start/cancel the upload -->
    <div class="row fileupload-buttonbar">
        <div class="col-md-5">
            <!-- The fileinput-button span is used to style the file input field as button -->
            <span class="btn btn-success fileinput-button">
                <i class="glyphicon glyphicon-plus"></i>
                <span>Add File(s)</span>
                <input type="file" name="files[]" multiple>
            </span>
            <!--
            <button type="submit" class="btn btn-primary start">
                <i class="glyphicon glyphicon-upload"></i>
                <span>Start upload</span>
            </button>
            <button type="reset" class="btn btn-warning cancel">
                <i class="glyphicon glyphicon-ban-circle"></i>
                <span>Cancel upload</span>
            </button>
            //-->
            <button type="button" class="btn btn-danger delete">
                <i class="glyphicon glyphicon-trash"></i>
                <span>Clear All Files</span>
            </button>
            <!-- <input type="checkbox" class="toggle"> //-->
            <!-- The global file processing state -->
            <span class="fileupload-process"></span>
        </div>
        <!-- The global progress state -->
        <div class="col-md-5 fileupload-progress fade">
            <!-- The global progress bar -->
            <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100">
                <div class="progress-bar progress-bar-success" style="width:0%;"></div>
            </div>
            <!-- The extended global progress state -->
            <div class="progress-extended">&nbsp;</div>
        </div>
    </div>
    <!-- The table listing the files available for upload/download -->
    <table role="presentation" class="table table-striped"><tbody class="files"></tbody></table>
</form>

<div class="row">
    <div class="col-md-10 text-right">
        <button type="button" class="btn btn-success" id="SubmitButton">
            <span>Submit</span>
        </button>
    </div>
</div>

@section scripts
{
    <script src="~/Backload/Client/blueimp/bundles/js/jquery.fileupload.basicplusui.min.js"></script>

    <!-- Gallery script (image preview) -->
    <script src="~/Backload/Client/blueimp/gallery/js/jquery.blueimp-gallery.min.js"></script>

    <!-- The demo application script -->
    <!-- <script src="~/Scripts/demos.blueimp.basicplusui.js"></script> -->

    <script id="formsubmission.js" src="~/Scripts/filesubmission.js"
            data-object-context="@Model.ObjectContextId"
            data-get-department-list-url="@Url.Action("GetDepartmentSelectListByOfficeName")">
    </script>
}